
.backgroundrad{
    position:fixed;
    top: -20%;
    background: linear-gradient(to bottom left,white,rgb(241, 232, 149) , rgb(228, 21, 21));
    height: 3000px;
    width: 1700px;;
    opacity: 0.8;
    z-index: -3;
    margin: -40px -50px -100px -40px;
    -webkit-transform: rotate(-22deg);
    
 }

.toDoBox {
    display:table;
    
    font-family: Courier New, Courier, monospace;
    width: 0px;
    height: auto;
    border-radius: 5px;
    margin: 15px;
    background-color: #70a1ff;
    
}



.AddingButton {
    font-family: Courier New, Courier, monospace;
    display:flex;
    flex-direction: column;
    margin: 20px;
    order: 2
    
}

[id="myInput"] {
width: 150px;
height: 35px;
margin: 10px;
border-radius: 5px;
}

body {
   
    background: linear-gradient(to left, white, #c2baa4,, #91836f);
  
}

.bigDiv{
    position: relative;
    margin: 40px;
    padding: 40px;
    display:flex;
    flex-direction: row;
 

   
}


.button{
    font-family: Courier New, Courier, monospace;
    margin: 10px;
    width: 0px;
    height: 0px;
    border-radius: 5px;
    background-color: #70a1ff;
  
}
.button:hover{
    animation-name: add;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}



.toDoText {
    font-family: Courier New, Courier, monospace;
    margin: 10px;
    width: 0px;
    height: 0px;
    border-radius: 5px;
    z-index: 2;
}

.addBtn2 {
    font-family: Courier New, Courier, monospace;
    margin: 10px;
    padding: 10px;
    width: 100px;
    border-radius: 5px;
    background-color:  #70a1ff;

}

.addBtn2:hover{
    animation-name: add;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
  
}

@keyframes add {
    from {background-color: #ff6b81;}
    
    to {background-color: #ff6b8177;};
    from {box-shadow: 0px;}
    to {box-shadow: 2px 2px 7px;}

}
.shape1 {
    position: fixed;
    z-index: 1;
    top: 50%;
    left:87%;
    background-color: #ff6b81;
    height: 400px;
    width: 300px;
    -webkit-transform: rotate(165deg);
    -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    opacity: 0.6;
}
.shape2 {
    position: fixed;
    z-index: 1;
    top: 50%;
    left:86%;
    background-color: #eccc68;
    height: 400px;
    width: 300px;
    -webkit-transform: rotate(15deg);
    -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    opacity: 0.7;
}

.shape3 {
    position: fixed;
    z-index: 1;
    top: 70%;
    left:80%;
    background-color: #70a1ff;
    height: 400px;
    width: 300px;
    -webkit-transform: rotate(63deg);
    -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    opacity: 0.8;
    z-index: -1;
}

.shape4 {
    position: fixed;
    z-index: 1;
    top: 27%;
    left:90%;
    background-color:#ff4757;
    height: 400px;
    width: 300px;
    -webkit-transform: rotate(-30deg);
    -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    opacity: 0.8;
}
.shape5 {
    position: fixed;
    z-index: 1;
    top: 75%;
    left:55%;
    background-color: #ff4757;
    height: 400px;
    width: 300px;
    -webkit-transform: rotate(-50deg);
    -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    opacity: 0.5;
}
.shape6 {
    position: fixed;
    z-index: 1;
    top: 80%;
    left:45%;
    background-color: #ffa502;
    height: 400px;
    width: 300px;
    -webkit-transform: rotate(28deg);
    -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    opacity: 0.9;
   
}
.shape7 {
    position: fixed;
    z-index: 1;
    top: 70%;
    left:85%;
    background-color: #1e90ff;
    height: 400px;
    width: 300px;
    -webkit-transform: rotate(-40deg);
    -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    opacity: 0.3;
}
.header {
    margin: 10px;
    font-family: Courier New, Courier, monospace;
    font-size: 25px;

}


.listItem{
    background-color: #ffffff;
    border-radius: 5px;
    margin: 5px;
    padding: 2px;
}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}


.modal-content {
    background-color:#5f74afdc;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    display: table;
    border-radius: 5px;
   
}
.changeList {
    padding: 10px;
    margin: 20px;
}
p {
    font-family: Courier New, Courier, monospace;
    margin: 20px;
    color: white;
}

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.listItem {
    background-color: #ffffff;
    border-radius: 5px;
    margin: 7px;
    padding: 2px;

}


.listItem:hover{
    animation-name: item;
    animation-duration: 0.14s;
    animation-fill-mode: forwards;
   animation-timing-function: ease-in;
}

.extraClass {
    animation: item2 0.2s linear;
}

@keyframes item {
    from {background-color: #ffffff}
    to {background-color: #f5f6fac9;};
    from {box-shadow: 0px;}
    to {box-shadow: 1px 1px 7px;}

}



@keyframes item2 {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1
    }
}