[class="0"] {
    color:red;
    width: 300px;
    height: auto;
}
[class="1"] {
    color:gainsboro;
    width: 300px;
    height: auto;
}
[class="2"] {
    color:ghostwhite;
    width: 300px;
    height: auto;
}
[class="3"] {
    color: greenyellow
}
[class="4"] {
    color:green
}

.button{
    border: none;
}

.toDoBox {
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: auto;
    border-radius: 5px;
    margin: 15px;
    background-color:#dfdbdb;
  
}

.AddingButton {
    font-family: Arial, Helvetica, sans-serif;
    display:flex;
    flex-direction: column;
    margin: 20px;
    
}

[id="myInput"] {
width: 150px;
}

body {
   background-color:#ff63489c;
  
}

.bigDiv{
    display: flex;
    flex-direction: row;
}

.button{
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    width: 60px;
    height: 30px;
    border-radius: 5px;
    background-color: #c5c0c0;
}

.toDoText {
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    width: 220px;
    height: 80px;
    border-radius: 5px;
}

.addBtn2 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px;
    padding: 10px;
    width: 100px;
    border-radius: 5px;
    background-color:#fc5e42de;

}

.addBtn2:hover{
    animation-name: add;
    animation-duration: 1s;

}

@keyframes add {
    from {background-color:  #f85a3e; }
    to {background-color: #fc5e42de}
}


.header {
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;

}

.listItem{
background-color: #ffffff;
border-radius: 5px;
margin: 5px;
padding: 2px;
}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}