

.toDoBox {
    display:table;
    
    font-family: Arial, Helvetica, sans-serif;
  
   
    width: 0px;
    height: auto;
    border-radius: 5px;
    margin: 15px;
    background-color:#dfdbdb;
  
}



.AddingButton {
    font-family: Arial, Helvetica, sans-serif;
    display:flex;
    flex-direction: column;
    margin: 20px;
    order: 2
    
}

[id="myInput"] {
width: 150px;
}

body {

   background-color:#4a69bd;
  
}

.bigDiv{
display:flex;
flex-direction: row;

   
}


.button{
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    width: 60px;
    height: 30px;
    border-radius: 5px;
    background-color: #c5c0c0;
}

.toDoText {
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    width: 0px;
    height: 80px;
    border-radius: 5px;
}

.addBtn2 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px;
    padding: 10px;
    width: 100px;
    border-radius: 5px;
    background-color: #2e4a99;

}

.addBtn2:hover{
    animation-name: add;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
   animation-timing-function: ease-in;
  
}

@keyframes add {
    from {background-color: #213d8b}
    to {background-color: #6f8ad493};
    from {box-shadow: 0px;}
    to {box-shadow: 2px 2px 7px;}

}


.header {
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;

}


.listItem{
background-color: #ffffff;
border-radius: 5px;
margin: 5px;
padding: 2px;
}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
=======
.listItem {
    background-color: #ffffff;
    border-radius: 5px;
    margin: 7px;
    padding: 2px;

}


.listItem:hover{
    animation-name: item;
    animation-duration: 0.14s;
    animation-fill-mode: forwards;
   animation-timing-function: ease-in;
}

@keyframes item {
    from {background-color: #ffffff}
    to {background-color: #bbb9b9};
    from {box-shadow: 0px;}
    to {box-shadow: 2px 2px 7px;}

}

